<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Idea</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
<a href="/ideas">All ideas</a>
<a href="/logout">Logout</a>
    <h2>New Idea</h2>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    <form action="/create" method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="description">Description:</label>
        <input type="text" name="description">
        <button type="submit">Add</button>
    </form>

</body>

</html>